.ShoppingCart {
  background-color: white;
  width: 25%;
  margin: 0 auto;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
  color: #2f3135;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.6s ease-in-out;
}

.ShoppingCart__header {
  background-color: #2196F3;
  color: white;
  padding: 15px;
}
  
.ShoppingCart.is-visible {
  right: 0;
}
  
.ShoppingCart__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
  
img {
  width: 100%;
  display: block;
}
  
.ShoppingCart__title {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
  
.ShoppingCart__close {
  border: 0;
  font-size: 25px;
  color: white;
  background-color: #2196F3;
  font-weight: bold;
}
  
.Grid {
  display: flex;
  flex-direction: column;
}
  
.Item {
  border-top: 1px solid #f3f3f4;
  border-bottom: 1px solid #f3f3f4;
  padding: 15px;
}

.Item__Delete {
  text-align: right;
}
  
.Item__Cover {
  width: 50%;
  align-self: center;
}
  
.Item h3 {
  margin: 0;
  font-size: 15px;
}
  
  
.Item button {
  background-color: #f7f8fa;
  color: #a9a9ae;
  border: 0;
  font-size: 18px;
  width: 30px;
  height: 30px;
}
  
.Item__Description p {
  margin: 0;
  text-align: right;
}
  